.form{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 350px;
    border: 1px solid white;
    gap: 30px;
    padding: 10px;
    border-radius: 5px;
}
form input{
    padding: 12px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
input::placeholder{
    color: white;
    opacity: 0.8;
}
textarea{
    height: 80px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 5px;
}
textarea::placeholder{
    color: white;
    opacity: 0.8;
}
button{
    padding: 12px 0 12px 0;
    color: white;
    border: none;
    border: 1px solid white;
    border-radius:5px;
}
button:hover{
    background-color: white;
    color: black;
    font-size: 1.1rem;
}
p{
    color: white;
    opacity: 0.7;
    text-align: center;
}
.forms{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.info{
    text-align: center;
    margin-bottom: 15px;
}
.info h2{
    color: white;
    opacity: 0.8;
    margin-bottom: 15px;
}